@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #fff;
}

body {
    display: flex;
    min-height: 100vh;
}

#root {
  flex: 1;
}


.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.5rem;
  border: 1px solid blue;
}

.cont{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding-left: 24px;
    padding-right: 24px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: aqua;
    border: 2px solid dodgerblue;
    white-space: nowrap;
    margin: 10px 0;
}

li{
    list-style: none;
}

.buttons{
    display: flex;
}

.buttons .btn{
    display: inline-flex;
    margin-left: 10px;
}

.fetchBtn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* form */

.form{
    padding: 40px;
    margin-top: 40px;
}

.form-group{
    margin-bottom: 16px;
}

.form-group, label, .form-control{
    width: 100%;
    display: block;
}

input.form-control{
    height: 46px;
}

.form-control{
    border: 0.8px solid dodgerblue;
    color: black;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
}

.form-control:focus{
    outline: 0;
    border: 1.6px solid dodgerblue;
}


.Header,
.Footer {
  width: 100%;
  background-color: #66d8f5;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Header h1 {
  font-size: 1.5rem;
}


footer {
  width: 100%;
  padding: 0.25em;
  background-color: #66d8f5;
  color: black;
  display: grid;
  place-content: center;
}

.section {
  border: 1px solid blue;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
}